.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  margin-left: 20px;
  cursor: pointer;
}
.menuAndOutletContainer {
  height: 100vh;
  border: 1px solid;
}
.sidenavContainer {
  padding-top: 50px;
  height: 100vh;
  border: 1px solid;
}
