.ag-header {
  height: 10% !important;
}
.ag-row {
  /* border-top: 1px solid; */
  /* border-bottom: 1px solid; */
  &:hover {
    background-color: #dfdada;
  }
}
.ag-cell {
  /* border-right: 1px solid #373131; */
}
.ag-header-cell-label {
  display: flex;
  justify-content: center;
}
