.active {
  background-color: rgb(53, 57, 171) !important;
  border-radius: 20px;
}
.sidebarNav {
  position: fixed;
  box-sizing: border-box;
  flex: 1;
  padding-top: 20px;
}
.sidebarContainer {
  overflow-x: hidden;
}
.hamburgerIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  &:hover {
    cursor: pointer;
  }
}
.hamburgerIcon {
  width: 35px;
  height: 35px;
}
.hamburgerIconInvert {
  filter: invert(20%);
}
.translateButton {
  position: relative;
  left: -150px;
}
