.outerContainer {
  height: 100vh !important;
}

.loginContainer {
  display: flex;
  background-image: url("https://cdn.pixabay.com/photo/2018/08/04/11/30/draw-3583548_1280.png");
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 550px;
  z-index: 0;
}

.loginCard {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #ffffff00;
  backdrop-filter: blur(30px);
  color: rgb(255, 255, 255);
  z-index: 1;
}
