.termsLink {
  text-decoration: none !important;
  &:hover {
    text-decoration: underline !important;
    cursor: pointer;
  }
}
.icons {
  width: 20px;
  height: 20px;
}
.lightThemeBorder {
  border-color: rgb(29, 243, 239);
  box-shadow: 4px 3px 5px 1px rgb(6, 229, 245);
}
.lightThemeBackground {
  background-color: rgba(250, 250, 250, 0.95) !important;
}
.lightThemeText {
  color: rgb(3 105 103 / 97%);
  text-shadow: 1px 1px 4px rgb(6, 229, 245);
}
.darkThemeBorder {
  border-color: rgb(205, 53, 75);
  box-shadow: 4px 3px 5px 1px rgb(186, 42, 110);
}
.darkThemeBackground {
  background-color: rgba(12, 11, 11, 0.874) !important;
}
.darkThemeBackground > .ps-menu-button {
  &:hover {
    background-color: rgba(238, 194, 233, 0.874) !important;
  }
}
.darkThemeText {
  color: rgb(205, 53, 75);
  text-shadow: 1px 1px 4px rgb(186, 42, 110);
}
.iconContainer {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  margin-left: 20px;
  cursor: pointer;
}
