.termsLink {
  text-decoration: none !important;
  &:hover {
    text-decoration: underline !important;
    cursor: pointer;
  }
}
.icons {
  width: 20px;
  height: 20px;
}
.lightThemeBorder {
  border-color: rgb(29, 243, 239);
  border: 1px solid;
  box-shadow: 4px 3px 5px 1px rgb(6, 229, 245);
}
.lightThemeBackground {
  background-color: rgba(241, 243, 243, 0.41) !important;
}
.lightThemeText {
  color: rgb(3 105 103 / 97%);
  text-shadow: 1px 1px 4px rgb(6, 229, 245);
}
.darkThemeBorder {
  border-color: rgb(243, 243, 29);
  box-shadow: 4px 3px 5px 1px rgb(241, 241, 110);
}
.darkThemeBackground {
  background-color: rgba(12, 11, 11, 0.874) !important;
}
.darkThemeText {
  color: rgb(243, 243, 29);
  text-shadow: 1px 1px 4px rgb(241, 241, 110);
}
