.kpiCardContainer {
  padding: 15px;
  border: 1px solid;
  border-radius: 10px;
}
.kpiIcons {
  width: 30px;
  height: 30px;
}
.kpiHeader {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.kpiTotalCount {
  font-size: 25px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.periodText {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  opacity: 0.7;
}
.periodCount {
  font-size: 18px;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.lightTheme {
  border-color: rgb(29, 243, 239);
  box-shadow: 4px 3px 5px 1px rgb(6, 229, 245);
  background-color: (213 229 227 / 11%);
  color: rgb(3 105 103 / 97%);
  text-shadow: 1px 1px 4px rgb(6, 229, 245);
}
.darkTheme {
  border-color: rgb(243, 243, 29);
  box-shadow: 4px 3px 5px 1px rgb(241, 241, 110);
  background-color: rgba(12, 11, 11, 0.874);
  color: rgb(243, 243, 29);
  text-shadow: 1px 1px 4px rgb(241, 241, 110);
}
